.cardItem {
	width: 85vw;
	display: flex;
	align-content: space-evenly;
	align-items: center;
	background: #f3d8c7;
	padding: 0.6em 1em 0.6em 0.6em;
	margin: 1em auto;
	border-radius: 0.3em;
	box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
	border: solid 1px #ccc;
}

.cardItem:hover {
	transform: scaleX(105%);
}

.title {
	width: 45vw;
	margin-left: 2em;
	color: #12332b;
	font-weight: bold;
}

.imageContainer {
	display: flex;
}
